<html>
	<head>
		<title>About Us</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="static/css/web.css" type="text/css" />
		<!--[if IE 6]>
		<link rel="stylesheet" href="static/css/iefix.css" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<div id="sidebar">
			<div id="heading">
				<img id="logo" src="static/css/img/logo.png" alt="Imago Logo" />
				<h1>imago</h1>
				<h2>The Israeli Association for Visual Culture in the Middle Ages</h2>
			</div>

			<div id="menu">
			</div>
		</div>

		<div id="wrapper">
			<div id="content">
			</div>
		</div>
	</body>
</html>

