<html>
    <head>
        <title>Imago - <span id="page_title">title</span></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="/static/stylesheets/web.css" type="text/css" />
    </head> 

    <body>
        <div id="sidebar">
            <div id="heading">
                <a href="/"><img id="logo" src="/static/stylesheets/img/logo.png" alt="Imago Logo" /></a>
                <h1><a href="/">Imago</a></h1>
                <h2>The Israeli Association for Visual Culture in the Middle Ages</h2>
            </div>

            <nav></nav>
        </div>

        <div id="wrapper">
            <div id="content"></div>
        </div>
    </body>
</html>

<!-- ex: set sw=4 et: -->
